<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- belle/register.html   11 Nov 2019 12:22:27 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Create an Account &ndash; Belle Multipurpose Bootstrap 4 Template</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="/assets/images/favicon.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="/assets/css/plugins.css">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<style>
  /* Increase Modal Size */
.custom-modal-size {
  max-width: 70vw; /* Increase modal width to 90% of the viewport width */
  max-height: 70vh; /* Increase modal height to 90% of the viewport height */
}

/* Customize Modal Position */
.custom-modal-position {
  top: 10%; /* Position modal 30% from the top of the screen */
   /* Shift modal 10% from the left */
  bottom:10%;
  transform: none; /* Disable Bootstrap’s default centering */
}

/* Adjust Modal Content Height */
.modal-content {
  height: 80vh; /* Set a custom height for the modal content */
}

/* Ensure the body of the modal takes up the height */
.modal-body {
  overflow-y: auto; /* Scroll inside the modal if content exceeds height */
}

</style>





</head>
<body class="page-template belle">