

<div class="pageWrapper">
	<!--Search Form Drawer-->



	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="/search" method="GET" style="display: flex; justify-content: flex-end; align-items: center; position: relative; width: 100%;">
                <input class="search__input" type="search" id="searchInput" name="searchInput" value="" placeholder="Search entire store..." style="margin-right: 10px; padding: 5px; font-size: 14px;">
                <!-- <button class="go-btn search__button" type="submit" style="margin-right: 5px; padding: 5px 10px;"><i class="icon anm anm-search-l"></i></button> -->
                <button class="btn btn-md rounded font-sm hover-up" type="submit" style="padding: 5px 15px;">Search</button>
            </form>
            
            <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
        </div>
    </div>


    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header">
      <div class="container-fluid">
        <div class="row justify-content-between">
          
          <div class="col-sm-4 col-md-4 col-lg-4 d-none d-md-block d-lg-block">
            <div class="text-center">
              <p class="top-header_middle-text"> <!-- Content goes here --> </p>
            </div>
          </div>
          
          
            <div class="col-2 col-sm-4 col-md-3 col-lg-4 d-flex justify-content-end align-items-center ms-auto">
                <span class="user-menu d-block d-lg-none">
                  <i class="anm anm-user-al" aria-hidden="true"></i>
                </span>
            
                    <ul class="customer-links list-inline mb-0"> 
                        <% if(isLogged){ %>
                           <!-- <li class="list-inline-item"><a href="/logout">Logout</a></li> -->
                           <li class="list-inline-item"><a href="/profile">Account</a></li>
                       <% }else{ %>
                            <li class="list-inline-item"><a href="/login">Login</a></li>
                      <%  }  %>
                  
                 
                  <li class="list-inline-item"><a href="/wishList">Wishlist</a></li>
                </ul>
               
               
          
        </div>
      </div>               
    </div>
    
  
  
    <!--End Top Header-->
    <!--Header-->
    <div class="header-wrap animated d-flex">
    	<div class="container-fluid">        
            <div class="row align-items-center">
            	<!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="index.html">
                        <img src="/productImages/safecap logo.png" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" style="width: 75px; height: auto;" />
                    </a>
                </div>
                
                
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                	<div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        	<i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                	<!--Desktop Menu-->
                	<nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu" style="right: 5px;"><a href="/">Home <i class="anm anm-angle-down-l"></i></a>
                                
                            </li>
                            
                        <li class="lvl1 parent dropdown"><a href="#">About Us <i class="anm anm-angle-down-l"></i></a></li>
                          
                        
                        <li class="lvl1 parent dropdown"><a href="/shopPage">Contact  <i class="anm anm-angle-down-l"></i></a></li>
                          
                        
                        <li class="lvl1"><a href="/shopPage"><b>Shop!</b></a></li>
                      </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                	<div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                </div>
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                	<div class="site-cart">
                
                            <a href="#" class="site-header__cart" title="Cart">
                                <i class="icon anm anm-bag-l" style="color: black;"></i>
                                <!-- <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count"></span> -->
                            </a>
                            <!--Minicart Popup-->
                            <div id="header-cart" class="block block-cart">
                                
                                
                                <div class="total">
                                    
                                     <div class="buttonSet text-center">
                                        <a href="/cart" class="btn btn-secondary btn--small">View Cart</a>
                                        <!-- <a href="checkout.html" class="btn btn-secondary btn--small">Checkout</a -->
                                    </div>
                                </div>
                            </div>
            
                    	
                        <!--End Minicart Popup-->
                    </div>
                    <div class="site-header__search">
                    	<button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
        	</div>
        </div>
    </div>
    <!--End Header-->
    <!--Mobile Menu-->
    
	<!--End Mobile Menu-->
    