
<nav> 
  <ul class="menu-aside">
      <li class="menu-item active">
          <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
          </a>
      </li>
      <li class="menu-item has-submenu">
          <a class="menu-link"> <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
          </a>
          <div class="submenu">
               <a href="/admin/productList">Product List</a> 
              
              
          </div>
      </li>
      <li class="menu-item has-submenu">
          <a class="menu-link" href=""> <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
          </a>
          <div class="submenu">
              <a href="/admin/orderList">Order list </a>
              
              <a href="/admin/returnOrderList">Return Order</a>
            

          </div>
      </li>
      <li class="menu-item has-submenu">
          <a class="menu-link" href=""> <i class="icon material-icons md-store"></i>
              <span class="text">Best Selling</span>
          </a>
          <div class="submenu">
              <a href="/admin/bestSellingProduct">Products</a>
              <a href="/admin/bestSellingCategory">Category</a>
              <a href="/admin/bestSellingBrand">Brand</a>
          </div>
      </li>
      <li class="menu-item has-submenu">
          <a class="menu-link" href="#"> <i class="icon material-icons md-add_box"></i>
              <span class="text">Add product</span>
          </a>
          <div class="submenu">
              <a href="/admin/addProduct">Add product </a>
              
          </div>
      </li>
      <li class="menu-item has-submenu">
          <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-pie_chart"></i>
              <span class="text">Categories</span>
          </a>
          <div class="submenu">
              <a href="/admin/categories">categories</a>
              <!-- <a href="page-transactions-2.html">Transaction 2</a>
              <a href="page-transactions-details.html">Transaction Details</a> -->
          </div>
      </li>
      <li class="menu-item has-submenu">
          <a class="menu-link" href=""> <i class="icon material-icons md-person"></i>
              <span class="text">Offer Management</span>
          </a>
          <div class="submenu">
              <a href="/admin/productOffer">Product Offer</a>
              <a href="/admin/brandOffer">Brand Offer</a>
              
          </div>
      </li>
      <li class="menu-item">
          <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-comment"></i>
              <span class="text">Coupon Management</span>
          </a>
      </li>
      <li class="menu-item">
          <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
              <span class="text">Brands</span> </a>
      </li>
      <li class="menu-item">
          <a class="menu-link" disabled href="/admin/customerList"> <i class="icon material-icons md-person"></i>
              <span class="text">Customers</span>
          </a>
      </li>
  </ul>
  <hr>
  <ul class="menu-aside">
     
      <li class="menu-item">
          <a class="menu-link" href="/admin/logout"> <i class="icon material-icons md-local_offer"></i>
              <span class="text"> Logout </span>
          </a>
      </li>
  </ul>
  <br>
  <br>
</nav>
