<%- include('../layouts/userLayouts/header') %>


        <!--Body Content-->
        <div class="page section-header text-center">
          <div class="page-title">
              <div class="wrapper">
                  <h1 class="page-width">Reset Password</h1>
              </div>
          </div>
      </div>




        

      <div style="background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); padding: 40px; width: 700px; text-align: center; margin: 100px auto; height: auto;">
        <h2 style="font-size: 28px; color: #333;">Reset Password</h2>
    
        <form action="/resetPassword" method="post" id="resetPasswordForm">
            <div style="margin: 15px 0;">
                <label style="display: block; text-align: left; margin-bottom: 5px;">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
                <span class="error" style="color:red; display: block; margin-top: 5px;" id="newPasswordError"></span>

            </div>
            
            <div style="margin: 15px 0;">
                <label style="display: block; text-align: left; margin-bottom: 5px;">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">
                <span class="error" style="color:red; display: block; margin-top: 5px;" id="confirmPasswordError"></span><br>

                <input type="hidden" id="confirmPassword" value="<%= token %>" name="token" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;">

            </div>
    
            <button type="submit" onclick="validateForm(event)" style="background-color: black; color: white; padding: 10px; border: none; border-radius: 5px; cursor: pointer; width: 40%; font-size: 16px; margin-top: 20px;"> Reset </button>
        </form>
    </div>
    
    
        


        <!--End Body Content-->
  <%- include('../layouts/userLayouts/footer') %>
        

            <script>
                function validateForm(event) {
                  event.preventDefault();
                  console.log("nithin")

                    let valid = true
                

                document.querySelectorAll(".error").forEach(function (error) {
                    error.textContent = ''
                })
            
                const newPassword = document.getElementById("newPassword").value.trim()
                const confirmPassword = document.getElementById("confirmPassword").value.trim()


                


                // Password Validation
                 if (newPassword === "") {
                  console.log("nithin ks")

                     document.getElementById('newPasswordError').textContent = "Password is required.";
                     valid = false;
                 } else if (newPassword.length < 6) {
                     document.getElementById('newPasswordError').textContent = "Password must be at least 6 characters.";
                     valid = false;
                 }


                 if (confirmPassword === "") {
                     document.getElementById('confirmPasswordError').textContent = " Please confirm your password.";
                     valid = false;
                 } else if (newPassword !== confirmPassword) {
                     document.getElementById('confirmPasswordError').textContent = "Password does not match.";
                     valid = false;
                 }
                if (valid) {
                    document.getElementById("resetPasswordForm").submit()
                }

            }
            // show message in swal fire
//              window.addEventListener('DOMContentLoaded',(event)=>{

//              // Combine all messages into a single variable
// let errorMessage = "

// if (errorMessage) {
//   Swal.fire({
//     title: 'Error!',
//     text: errorMessage,
//     icon: 'error',
//     confirmButtonText: 'Try Again'
//   });
// }

//  })
 


</script>